html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}


body {
  background-color: #537237;
  display: table-cell;
  vertical-align: middle;
}

h1{
  color: white;
  text-align: center;
}



@keyframes blink {
  0% {
    height:100px;
    opacity:1;
  }
  50% {
    opacity:0;
    height:50px;
  }
  100% {
    opacity:1;
    height:100px;
  }
}

img{
    width: 45px;
    height: 45px;
}

table, th{
  border: 1px solid black;
  border-collapse: collapse;
  border: none;

}

td {
    height: 45px;
    width: 45px;
}

.legend{
    height: 20px;
    text-align: center;
}

.noir{
background-color:black;
}

.blanc{
background-color:white;
}

.dedB, .dedW{
    float: left;
    margin: 50px;
}

.boardContainer{
    float: left;
    margin: 50px;
}